@import "template";

.slideShow-container {
  width: 100%;
  margin: auto;
  z-index: -1;
  position: relative;
  top: -69px; 
  @media (min-width: 360px) and (max-width: 960px) {
    position: relative;
    top: 0;
  }
  .mySlides {
    display: none;
    .opacity {
      position: absolute;
      bottom: 0;
      top: -22px;
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.6);
      color: #f1f1f1;
      width: 100%;
      height: 100%;
      @media (min-width:320px) and (max-width: 980px) {
        top: 0;
      }
    }
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 10s;
    animation-name: fade;
    animation-duration: 10s;
    @-webkit-keyframes fade {
      from {opacity: 0.9} 
      to {opacity: 1}
    }
    @keyframes fade {
      from {opacity: 0.9} 
      to {opacity: 1}
    }  
  }
  .sileshow-dot {
    text-align: center;
    position: relative;
    bottom: 100px;
    .dot {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: $white;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      @media (min-width:320px) and (max-width: 980px) {
        display: none;
      }
    }
    .dot.active {
      background-color:$gray2;
    }

    @media (min-width:961px) and (max-width: 1024px) {
      position: relative;
      top: -135px;
    }
  }
  // @media (min-width:320px) and (max-width: 1240px) {
  //   margin-bottom: auto;
  // }
  &.top-news-content {
    @media (min-width: 360px) and (max-width: 480px) {
      img {
        width: 300px;
        height: 180px;
        margin: auto;
        display: block;
      }
      .sileshow-dot {
        display: none;
      }
      .more-view-btn {
        right: 0 !important;
      }
    }
  }
}

.hidde-mobile-nav {
  width: 100%;
  height: 300px;
  position: fixed;
  z-index: 1;
}

.header-toggle__icon{
  display:none;
  position:absolute;
  right:16px;
  top:29px;
  font-size:2em;
  cursor: pointer;
  color: $white !important;
  @media screen and (max-width: 980px) {
    display: block !important;
    z-index: 3;
  }
}

@media screen and (max-width: 980px) {
  .main-menu {
    width: auto !important;
    a.active {
      border-bottom: 1px solid $white !important;
    }
  }
  .header-toggle {
    display: none;
    position: absolute;
    direction: rtl;
    background-color: $black-rgb;
    width: 280px;
    height: auto !important;
    overflow: hidden;
    right: 0 !important;
    top: 69px !important;
    z-index: 2;
    ul {
      display: block;
      li {
        width: 160px;
        text-align: center;
        margin: 10px 15px;

      }
    }
    &.other-page {
      ul {
        li {
          a {
            color: $white !important;
          }
        }
      }
    }
  }

}

/*------------------------------------------------------------------------*/

/*----------   <- Style For index page and Responsive page ->   ----------*/

// .bg-sec {
//   // width: 900px;
//   margin-right: 50px;
//   margin-top: 15px;
//   @media (min-width:980px) and (max-width:1240px) {
//     position: relative;
//     top: -530px;
//   }
//   @media (min-width: 1367px) and (max-width: 1920px) {
//     position: relative;
//     top: -275px;
//   }

//   .main-menu {
//     display: block;
//     // width: 900px;
//     margin: auto;
//     a {
//       color: $white;
//       font-size: .8em;
      
//     }
//     a.active {
//       border-bottom: 5px solid $white;
//       padding: 5px;
      
//     }
//     @media screen and (max-width: 980px) {
//       width: auto !important;
//     }
    
//   }
// }

// .nav-hr {
//   background-color: $white;
//   margin-left: -15px;
//   margin-right: -15px;
//   @media (max-width: 980px) and (min-width: 320px) {
//     display: none;
//   }
//   @media (max-width: 1025px) and (min-width: 981px) {
//     position: relative;
//     top: -540px;
//     margin-left: -15px;
//     margin-right: -15px;
//   }
//   @media (min-width: 1367px) and (max-width: 1920px) {
//     position: relative;
//     top: -275px;
//   }

// }

.main-bg-sec {
  height: 850px;
  .logo-title {
    position: relative;
    bottom: 490px;
    img {
      display: block;
      margin: auto;
      // position: relative;
      // top: 60px;
    }
    .text-title, .name-company {
      margin: 13px auto;
      display: table;
      position: relative;
      top: 50px;
    }
    @media (min-width:320px) and (max-width: 480px) {
      position: relative;
      bottom: 145px;
      img {
        width: 50px;
        height: 40px;
        // top: -160px;
      }
      .text-title, .name-company {
        margin: auto;
        // top: -130px;
        font-size: .8em;
        position: relative;
        top: 20px;
      }
    }
    @media (min-width:481px) and (max-width: 960px) {
      img {
        top: 100px;
        position: relative;
      }
      .text-title, .name-company {
        margin: auto;
        top: 140px;
        // font-size: 1em;
      }
    }
    @media (min-width: 961px) and (max-width: 1024px) {
      position: relative;
      top: -515px;
    }
    @media (min-width: 1366px) and (max-width: 1920px) {
      position: relative;
      bottom: 640px;
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
  
  .about-box {
    width: 90%;
    margin: auto;
    position: relative;
    top: -400px;
    .about-box-title {
      margin: auto;
      display: block
    }
    .about-box-desc {
      width: 94%;
      padding: 10px;
      font-size: .9em;
      line-height: 1.8;
    }
    a {
      position: relative;
      bottom: 30px;
      left: 40px;
      float: left;
    }
    @media (min-width:320px) and (max-width: 480px) {
      top: -110px;
    }
    @media (min-width:481px) and (max-width: 960px) {
      top: -340px;
    }
    @media (min-width: 961px) and (max-width: 1024px) {
      position: relative;
      top: -430px;
    }
    @media (min-width: 1025px) and (max-width: 1280px) {
      position: relative;
      top: -400px;
    }
    @media (min-width: 1281px) and (max-width: 1920px) {
      position: relative;
      top: -500px;
    }
    
  }
}


.documents-sec {
  width: 80%;
  position: relative;
  top: -320px;
  &.resp-sec {
    position: relative;
    top: 134px;
    @media screen and (max-width: 980px) {
      bottom: -120px;
    }

  }
  @media screen and (max-width: 980px) {
    top: -288px;
  
  }
  @media (min-width: 1025px) and (max-width: 1280px) {
    position: relative;
    top: -315px;
  }
  @media (min-width: 1281px) and (max-width: 1366px) {
    position: relative;
    top: 0;
  }
  @media (min-width: 1367px) and (max-width: 1920px) {
    position: relative;
    top: 215px;
  }

  .doc-pic {
    width: 500px;
    height: 300px;
    margin: auto;
    margin-bottom: 15px;
    @media (min-width: 320px) and (max-width: 700px) {
      width: 350px;
      margin-top: 50px;
    }
    img {
      width: 500px;
      height: 300px;
      @media (min-width: 320px) and (max-width: 700px) {
        max-width: 300px;
        max-height: 300px;
        width: auto;
        margin: auto;
        display: block;
      }
    }
  }
  .doc-desc {
    width: 500px;
    height: 300px;
    margin: auto;
    margin-bottom: 15px;
    @media (min-width: 320px) and (max-width: 700px) {
      max-width: 400px;
      max-height: 300px;
      width: auto;
      margin-top: 50px;
    }
    span {
      display: block;
    }
  }
}

.download-sec {

  .download-box {
    width: 100%;
    height: 220px;
    background-image: url(../images/image-4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // top: -300px;
    position: relative;
    .opacity {
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.6);
      height: 100%;
      span {
        display: block;
        padding: 45px;
        letter-spacing: 2px;
        line-height: 2;
        @media (min-width: 320px) and (max-width: 767px) {
          font-size: .8em;
          padding: 20px;
        }
      }
      a {
        width: 280px;
        height: 40px;
        display: block;
        margin: auto;
        text-align: center;
        @media (min-width: 320px) and (max-width: 767px) {
          margin: auto !important; ;
        }
      }
    }
    @media (min-width: 360px) and (max-width: 1024px) {
      position: relative;
      top: -235px;
    }
    @media (min-width: 1025px) and (max-width: 1280px) {
      position: relative;
      top: -240px;
    }
    @media (min-width: 1281px) and (max-width: 1366px) {
      position: relative;
      top: 40px;
    }
    @media (min-width: 1367px) and (max-width: 1920px) {
      position: relative;
      top: 230px;
    }
  }
}

.news-sec {
  position: relative;
  top: -110px;
  .sec-title {
    padding: 15px 50px;
  }

  .news-box {
    margin: auto;
    width: 100%;
    .news-title {
      font-size: .8em;
      display: block;
      text-align: center;
    }
    .news-content {
      img {
        width: 560px;
        height: 280px;
        margin: auto;
        display: block;
        padding: 10px 0px;
        @media (min-width: 320px) and (max-width: 767px) {
          width: 350px;
          height: 280px;
        }
      }
    }
  }

  .last-news-box {
    margin: 35px auto;
    .white-box {
      width: 280px;
      margin: 20px auto;
      display: block;
      .title-news {
        width: 255px;
        display: block;
        text-align: center;
        margin: 5px auto;
        line-height: 2;
      }
      .author-text {
        margin: 10px 15px 5px 0;
        display: inline-block;
      }
      .author-name {
        margin: 10px 5px 15px 0;
        display: inline-block;
      }
      .photograph-text {
        margin: auto 68px auto 0;
      }

    }
  }

  .more-view-btn {
    cursor: pointer;
    border: 1px solid $dark_blue;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 200px;
    height: 50px;
    color: $dark_blue;
    margin: 15px auto;
  }

  .page-butt {
    width: 435px;
    margin: auto;
    ul {
      position: relative;
      .prev-shape {
        a {
          width: 70px;
          height: 36px;
          background-color: $gray2;
          display: block;
          position: absolute;
          top: 25px;
          right: 72px;
          text-align: center;
          line-height: 36px;
          color: $gray;
          &:after {
            content: "";
            position: absolute;
            right: -18px;
            bottom: 0;
            width: 0;
            height: 0;
            border-left: 18px solid $gray2;
            border-top: 18px solid transparent;
            border-bottom: 18px solid transparent;
          }
        }
      }

      .next-shape {
        a {
          width: 70px;
          height: 36px;
          background-color: $blue;
          display: block;
          position: absolute;
          top: 25px;
          right: 300px;
          text-align: center;
          line-height: 36px;
          color: $white;
          &:after {
            content: "";
            position: absolute;
            right: 70px;
            bottom: 0;
            width: 0;
            height: 0;
            border-right: 18px solid $blue;
            border-top: 18px solid transparent;
            border-bottom: 18px solid transparent;
          }
        }
      }

      li:nth-child(2) {
        a {
          width: 50px;
          height: 36px;
          background-color: $blue;
          display: inline-block;
          text-align: center;
          line-height: 36px;
          color: $white;
          position: absolute;
          right: 165px;
          top: 25px;
        }
      }
      li:nth-child(3) {
        a {
          width: 50px;
          height: 36px;
          background-color: $gray2;
          display: inline-block;
          text-align: center;
          line-height: 36px;
          color: $gray;
          position: absolute;
          right: 230px;
          top: 25px;
        }
      }
    }
  }

  hr {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    height: 1px;
    background-color: $dark_blue;
    @media (min-width: 1367px) and (max-width: 1920px) {
      position: relative;
      top: 0;
    }
  }
  
  @media (min-width: 1281px) and (max-width: 1366px) {
    position: relative;
    top: 50px;
  }
  @media (min-width: 1367px) and (max-width: 1920px) {
    position: relative;
    top: 240px;
  }
}

.footer-sec {
  position: relative;
  top: 100px;
  &.fir-page {
    position: relative;
    top: -185px;
    @media (min-width: 1281px) and (max-width: 1366px) {
      position: relative;
      top: 0; 
    }
    @media (min-width: 1367px) and (max-width: 1920px) {
      position: relative;
      top: 200px;
    }
  }
  .row {
    height: 300px;
  }
  .opacity {
    background: $gray-rgb2;
    width: 100%;
    height: 690px;
    position: relative;
    top: 50px;
    z-index: 0;

    .footer-bg {
      position: absolute;
      height: 400px;
      top: 220px;
    }
    .partition-foo {
      //width: 1260px;
      position: relative;
      top: 60px;
      .part-r {
        border-left: 1px solid $dark_blue;
        height: 270px;
        display: block;
        margin: auto;
        .right-footer-block {
          span {
            display: block;
            text-align: center;
          }
          li {
            width: 230px;
            text-align: right;
            margin: 20px;
            span {
              width: 15px;
              height: 15px;
              background-color: $dark_blue;
              display: inline-block;
            }
          }
        }
        @media (min-width: 320px) and (max-width: 360px) {
          border: none;
        }
        @media (min-width: 361px) and (max-width: 480px) {
          border-left: none;
          border-bottom: 1px solid $dark_blue;
          margin-bottom: 20px;

        }
      }
      .part-c {
        border-left: 1px solid $dark_blue;
        height: 270px;
        display: block;
        margin: auto;
        .center-footer-block {
          span {
            display: block;
            text-align: center;
          }
          ul {
            margin-top: 50px;
            li {
              padding: 10px;
              font-size: 2em;
              i {
                color: $dark_blue;
              }
            }
          }
          .company-email {
            color: $blue_shadow;
          }
          .con-manager {
            width: 250px;
            height: 50px;
            background-color: $white;
            border-radius: 5px;
            margin: 12px auto;
            a {
              line-height: 50px;
              margin: auto;
              display: table;
              color: $dark_blue;
            }
          }
          
          @media (min-width: 320px) and (max-width: 377px) {
            ul {
              width: 311px;
            }
          }
          @media (min-width: 378px) and (max-width: 477px) {
            ul {
              width: 411px;
            }
          }

        }
        @media (min-width: 320px) and (max-width: 360px) {
          border: none;
        }
      }

      .part-l {
        height: 270px;
        display: block;
        margin: auto;
        .left-footer-block {
          span {
            display: block;
            text-align: center;
          }
          ul {
            margin-top: 20px;
            li {
              @media (min-width: 320px) and (max-width: 360px) {
                width: 100px;
              }
            }
          }
        }
      }

      hr {
        width: 80%;
        margin: auto;
        margin-top: 15px;
        background-color: $dark_blue;
        @media (min-width: 1367px) and (max-width: 1920px) {
          position: relative;
          top: 0;
        }
      }
    }

    .contact-div {
      position: relative;
      top: 90px;
      text-align: center;
      img {
        width: 70px;
        height: 70px;
        padding: 10px;
        position: relative;
        left: 200px;
      }
      .contact-div_text {
        position: relative;
        left: 180px;
        letter-spacing: 2px;
      }
      .contact-div_num {
        position: relative;
        right: 90px;
        font-size: 1.5em;
        letter-spacing: 4px;
      }

      @media (min-width: 320px) and (max-width: 480px) {
        img {
          position: relative;
          right: 0;
          top: -35px;
        }
        .contact-div_text {
          position: relative;
          right: 0;
          width: 311px;
          display: block;
          top: -15px;
          margin: auto;
        }
        .contact-div_num {
          position: relative;
          right: 0;
          width: 311px;
          margin: auto;
          display: block;
        }
        }

      @media (min-width: 1281px) and (max-width: 1920px) {
          font-size: 1.5em;
      }
    }

    .location-div {
      position: relative;
      top: 130px;
      text-align: center;
      img {
        width: 40px;
        height: 45px;
        padding: 5px;
      }
      span {
        padding: 10px;
        line-height: 3;
      }
      a {
        padding: 10px;

      }
      @media (min-width: 1281px) and (max-width: 1920px) {
        font-size: 1.5em;
      }
    }

    .design-by {
      text-align: center;
      position: relative;
      top: 157px;
      width: 100%;
      height: 70px;
      background-color: $dark_blue;
      span.text-white {
        // font-size: .7em;
        position: relative;
        top: 25px;
      }
      .design-by_box {
        width: 150px;
        height: 50px;
        float: left;
        position: relative;
        top: 10px;
        left: 20px;
      }

      @media (min-width: 320px) and (max-width: 480px) {
        span.text-white {
          top: 15px;
          width: 315px;
          display: block;
          line-height: 2;
          margin: auto;
        }
        a {
          display: none;
        }
      }
      @media (min-width: 426px) and (max-width: 480px) {
        span.text-white {
          font-size: .6em;
        }
      }
      @media (min-width: 1281px) and (max-width: 1920px) {
        span.text-white {
          font-size: 1.5em;
        }
      }
    }
  }
  // .footer-bg {
  //   background-image: url(../images/law.png);
  //   width: 500px;
  //   height: 400px;
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   position: relative;
  //   bottom: 420px;
  //   z-index: -1;
  //   @media (min-width: 320px) and (max-width: 480px) {
  //     width: auto;
  //   }

  // }

}

/*---------------------------------------------------------------------------*/

/*----------   <- Style For about-us page and Responsive page ->   ----------*/

.main-menu_nav {
  .main-menu {
    padding: 18px 15px;
    width: 75%;
    a.active {
      border-bottom: 5px solid $light-gray;
      padding: 5px;

    }
  }
  .underline-main-menu {
    width: 100%;
    margin: auto;
    //height: 1px;
    background-color: $gray-rgb;
    @include box-shadow(0px 3px 5px 0px $gray-rgb);
  }
  &.first-page {
    position: relative;
    z-index: 2;
    a {
      color: $white !important;
    }
  }
}
.main-menu-bg {
  position: relative;
  top: 60px;
  img {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
  }
  span {
    position: absolute;
    bottom: 10px;
    left: 140px;
  }
}
// .main-menu_sec {

// }

.main-aboutUs_sec {
  position: relative;
  top: 60px;
  //z-index: 0;
  .circle-shape {
    width: 180px;
    height: 180px;
    border: 15px solid $dark_blue;
    position: absolute;
    top: 30px;
    right: -90px;
  }
  .about-us-boxing {
    width: 350px;
    height: 350px;
    display: block;
    margin: auto;
    border: 10px solid $light-gray;
    position: absolute;
    right: 50%;
    margin-right: -50px;
    top: 120px;
    span {
      display: block;
      padding: 10px 0px;
      letter-spacing: 1px;
    }
    p {
      line-height: 2;
      padding: 0 10px;
      //width: 320px;
    }
    img {
      position: absolute;
      top: 60px;
      left: 320px;
      width: 280px;
      height: 280px;
      //z-index: -1;
    }
  }
  .left-bg {
    position: absolute;
    left: 0;
    top: 170px;
    height: 300px;
  }

  @media (min-width: 480px) and (max-width:959px) {
    .circle-shape {
      width: 90px;
      height: 90px;
      position: absolute;
      right: -45px;
    }
    .about-us-boxing {
      width: auto;
      height: auto;
      margin: auto;
      display: table;
      top: 160px;
      img {
        display: none;
      }
    }
    .left-bg {
      display: none;
    }
  }
}

.key-members_sec {
  position: relative;
  top: 630px;
  span {
    display: block;
    text-align: center;
  }
  .members-box {
    li {
      width: 85%;
      margin: auto;
      padding: 10px 0px;
      .p-1 {
        .white-box {
          width: 170px;
          height: 170px;
          margin: auto;
          background-image: url(../images/image-9.jpg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      .p-3 {
        .white-box {
          margin: auto;
          display: block;
          width: 715px;
          @media (min-width: 480px) and (max-width: 1024px) {
            width: auto;
          }
          @media (min-width: 1281px) and (max-width: 1366px) {
            width: 755px;
          }
          @media (min-width: 1367px) and (max-width: 1920px) {
            width: 990px;
          }
        }
        span.text-size2 {
          border-bottom: 2px solid $dark_blue;
          display: table;
          margin-bottom: 10px;
        }
        span{
          display: table;
        }
        p {
          padding: 0 10px;
        }
      }
    }
  }
}

/*----------------------------------------------------------------------------*/

/*----------   <- Style For documents page and Responsive page ->   ----------*/


.title-documents-sec {
  position: relative;
  top: 100px;

  .title-doc-box {
    text-align: center;
    .title-doc {
      letter-spacing: 2px;
    }
    .hr-doc {
      width: 300px;
      background-color: $dark_blue;
      height: 2px;
    }
    .des-doc {
      width: 80%;
      line-height: 2;
    }
  }
}

/*-------------------------------------------------------------------------------*/

/*----------   <- Style For photoGallery page and Responsive page ->   ----------*/

.categorise-sec {
  @media screen and (max-width: 960px) {
    position: relative;
    top: 60px;
  }
  .categorise-content {
    width: 90%;
    margin: auto;
    padding-top: 50px;
    .categorise-content-title {
      border-bottom: 1px solid $gray2;
      padding: 10px 0;
    }
    ul {
      padding: 10px 0;
      li {
        padding: 10px 0;
        a {
          position: relative;
          span {
            position: absolute;
            right: 50%;
            top: 50%;
            margin-top: -12px;
            margin-right: -25px;
          }
          .photo-btn {
            position: absolute;
            top: 20px;
            right: 50%;
            font-size: .6em;
            border: 1px solid white;
            width: 80px;
            height: 20px;
            line-height: 19px;
            margin-right: -40px;
            background-color: inherit;
            color: white;
          }
        }
      }
    }
  }
}

.indicator-videos-sec {
  .video-div {
    width: 90%;
    margin: auto;
    padding-top: 50px;
    .indicator-videos-title {
      border-bottom: 1px solid $gray2;
      padding: 10px 0;
    }
    .video-content {
      //width: 85%;
      margin: auto;
      display: block;
      padding: 25px 0;

    }
    .video-list {
      ul {
        li {
          margin: 10px;
        }
      }
    }
  }
}

/*------------------------------------------------------------------------------------*/

/*----------   <- Style For rules-regulations page and Responsive page ->   ----------*/

.rules-regulations-sec {
  @media screen and (max-width:960px) {
    position: relative;
    top: 60px;
  }
  .rul-reg-content {
    width: 90%;
    margin: auto;
    padding-top: 50px;
    .rul-reg_title {
      border-bottom: 1px solid #bababa;
      padding: 10px 0;
    }
    .white-box {
      width: 436px;
      margin: auto;
      padding: 0;
      margin-top: 50px;
      text-align: center;
      border-color: $real_black !important;
      .btn {
        border-left: 1px solid $real_black;
        border-radius: 0;
        margin-right: -3px;
      }
      .btn:nth-child(4) {
        border: none;
      }
      .btn.active {
        background-color: $dark_blue !important;
        span {
          color: $white;
        }
      }
      span {
        color: $real_black;
        line-height: 2;
        padding: 10px 1px;
        width: 80px;
        display: inline-block;
      }

    }
  }
  .rul-reg-table {
    position: relative;
    top: 80px;
    .table-title {
      width: 90%;
      margin: 10px auto;
      text-align: center;
      li:nth-child(1) {
        width: 50px;
      }
      li:nth-child(2) {
        width: 210px;
      }
      li:nth-child(3) {
        width: 70px;
      }
      li:nth-child(4) {
        width: 60px;
      }

    }
    .table-content {
      width: 90%;
      margin: 10px auto;
      text-align: center;
      li:nth-child(1) {
        width: 50px;
      }
      li:nth-child(2) {
        width: 210px;
      }
      li:nth-child(3) {
        width: 70px;
      }
      li:nth-child(4) {
        width: 60px;
      }
      &:nth-child(odd) {
        background-color: $orange3_light !important;
      }
    }

  }
}

/*-----------------------------------------------------------------------------*/

/*----------   <- Style For Contact-Us page and Responsive page ->   ----------*/

.contact-us-sec {
  position: relative;
  top: 90px;
  .contact-us-content {
    width: 70%;
    margin: auto;
    span {
      text-align: center;
    }
    .sent-form {
      border-color: $gray !important;
      height: 50px;
      margin: 20px 10px;
      i {
        float: right !important;
        font-size: 2em;
      }
      input {
        border: none;
        float: right;
      }
    }
    .desc-box {
      border-color: $gray;
    }
  }
}

/*-----------------------------------------------------------------------*/

/*----------   <- Style For News page and Responsive page ->   ----------*/

.top-news-sec {
  .top-news-content {
    margin: 20px auto !important;
    width: 90%;
    z-index: 0 !important;
    top: 0;
    .white-box {
      background-color: $gray-rgb !important;
      .top-news-title {
        text-align: center;
      }
      p {
        line-height: 2;
        margin: 20px auto;
      }
    }
    .more-view-btn {
      cursor: pointer;
      border: 1px solid $blue_navy;
      border-bottom-right-radius: 50px;
      border-top-right-radius: 50px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      width: 130px;
      height: 35px;
      line-height: 20px;
      color: $real_black;
      //margin: 15px auto;
      position: relative;
      top: -5px;
      right: 250px;
      z-index: 1;
      background-color: $blue_navy;
    }

    .sileshow-dot {
      bottom: 20px;
    }

  }

  @media screen and (max-width:960px) {
    position: relative;
    top: 60px;
  }
}

.search-news-sec {
  margin: 20px auto;
  .white-box {
    width: 50%;
    margin: auto;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-color: $gray !important;
    .bg-icon {
      background-color: $blue_list;
      display: block;
      width: 70px;
      float: left;
      height: 34px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
    }
    i {
      font-size: 2em !important;
      color: white !important;
      right: 47px !important;
      top: 2px !important;
    }
    input {
      text-align: center !important;
      border: none !important;
      width: 80% !important;
      margin: auto !important;
    }
  }
  @media (min-width: 360px) and (max-width: 480px) {
    position: relative;
    top: 55px;
    .white-box {
      width: 80%;
      input {
        width: auto !important;
      }
    }
  }
}




